*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  color: #FFF;
}

html,body{
  height: 100%;
  width: 100%;

}

body{
  background-color: #111;
}


.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width:250px;
  border: 2px solid white;
  padding: 20PX;
  text-align: center;
  border-radius: 10px;
  background-color: #222;

}


.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 10px 20px;
}

.card button{
  padding: 10px 20px;
  background-color: #FFF;
  color: #111;
  border: none;
  border-radius: 5px;
}