*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  color: #FFF;
}

html,body{
  height: 100%;
  width: 100%;

}

body{
  background-color: #111;
}


.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width:250px;
  border: 2px solid white;
  padding: 20PX;
  text-align: center;
  border-radius: 10px;
  background-color: #333;

}